MODES=[{"measure":"https://metrics.operas-eu.org/oapen/downloads/v1",
"name":"oapen","startDate":"2020-04-01"}]
OUTDIR=/usr/src/app/output
CACHEDIR=/usr/src/app/cache
REDO_OUTPUT=True
IRUS_API_REQUESTOR_ID={requestor_id}
IRUS_API_KEY={api_key}