MODES=[{"measure":"https://metrics.operas-eu.org/oapen/downloads/v1","name":"oapen","startDate":"2019-01-01"}]
OUTDIR=/usr/src/app/output
CACHEDIR=/usr/src/app/cache
REDO_OUTPUT=True
URI_API_ENDP=https://identifier.translation.service/translate
AUTH_API_ENDP=https://authentication.service/tokens
COUNTRY_API_ENDP=httsp://countries.api/countries
URI_API_USER=admin_user@openbookpublishers.com
URI_API_PASS=some_secret_password
IRUS_API_ENDP=https://irus.jisc.ac.uk/IRUSConsult/irus-oapen/v2/api/sushilite/v1_7/GetReport/
IRUS_API_REPORT=BR1b
IRUS_API_RELEASE=4
IRUS_API_USER=Knowledge_Unlatched
IRUS_GRANULARITY=Monthly
IRUS_BREAKDOWN=Item_Country
